[Desktop Entry]
Name=SMEConverter
GenericName=SMEConverter
Comment=Start SMEConverter
Comment[de]=Starte SMEConverter
Exec=/usr/bin/smeconverter %f
Icon=/usr/share/icons/SMEConverter.png
Terminal=false
Type=Application
Categories=Utility; Qt
MimeType=text/plain; text/html; text/markdown
Keywords=text;convert;converter;sme;
