[Desktop Entry]
Name=SMEConverter
GenericName=SMEConverter
Comment=Start SMEConverter
Comment[de]=Starte SMEConverter
Exec=converter
Icon=SMEConverter
Terminal=false
Type=Application
Categories=Utility; Qt
Keywords=text;convert;converter;sme;string;
